# Planejamento da solução (IOT)

# Input - Entrada

## O problema de negócio

 1. Criar um plano de estratégia para adquirir imóveis em ótimas localizações com preços baixos e atrativos para revender à preços mais altos; lucrando mais, maximizando a sua receita..

# Output - Saída

Modelo de Análise para escolha de imóveis com caraterísticas que viabilizem melhor resultado na aquisição re revenda.

1.0. Construção da análise estatística; construção de gráficos para melhor interpretaçaõ  e visualição.

2.0. Painel de análise

Input: https://www.kaggle.com/harlfoxem/housesalesprediction;

Output: Construção da análise em python;

This dataset contains house sale prices for King County, which includes Seattle. It includes homes sold between May 2014 and May 2015.

It's a great dataset for evaluating simple regression models

*- Compreensão do negócio e variáveis envolvidas (mapa mental).

# Imports

In [2]:
# data manipulation
import pandas as pd
import numpy  as np 

import inflection
import math
import datetime

# EDA
import seaborn           as sns
import matplotlib.pyplot as plt

# Algorithms
import xgboost as xgb
import random
import warnings
warnings.filterwarnings ('ignore')

from scipy                import stats  as ss 
from IPython.core.display import HTML
from IPython.display      import Image

## Loading Data

In [3]:
pwd

'/home/ehgeraldo/repos/Houses_Sales_Prediction/notebook'

In [4]:
ls -l

total 7592
-rw-rw-r-- 1 ehgeraldo ehgeraldo    2806 feb  6 10:07 c0.0-ehgeraldo-planning.ipynb
-rwxrwxr-x 1 ehgeraldo ehgeraldo 7768015 feb  6 09:58 jupyter_notebook.ipynb*

In [5]:
# Load data

df_raw = pd.read_csv('/home/ehgeraldo/repos/Houses_Sales_Prediction/data/kc_house_data.csv')

# Data Description

In [16]:
df1 = df_raw.copy()

In [17]:
df1.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [18]:
cols_old = ['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15']

In [19]:
snakecase = lambda x: inflection.underscore( x )

cols_new = list( map( snakecase, cols_old ) )

#rename
df1.colums = cols_new

### Data dimensions

In [20]:
print( 'Number of rows:    {}'.format( df1.shape[0] ) )
print( 'Number of columns: {}'.format( df1.shape[1] ) )

Number of rows:    21613
Number of columns: 21

### Data types

In [21]:
df1.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [23]:
df1['date'].sample(2)

9831    20140826T000000
789     20140516T000000
Name: date, dtype: object

In [14]:
# change format date (object -> datetime)
df1['date'] = pd.to_datetime(df1['date'])

### Check NAs

In [13]:
df1.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64